@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');



body{
    background: rgba(0,0,0,0.7) url(imgs/R\ \(3\).png);
    background-blend-mode:darken ;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    color: #fff;

}


.compo{
    text-align: center;
    background-image: url();
    }
    
    .com{
        margin-right: 450px;
        margin-left: 450px;
        background-image: url();
    }
    /*CABEÇALHO*/
   .cabecalho{
       display: flex;
       justify-content: space-around;
       border-bottom: 1px solid;
       background: url(imgs/b9801bd6a58f2b41de16677025da5d03.jpg);
   }
   /*LOGO*/
   .logo{
       width: 100px;
       border-radius: 50%;
       position: relative;
       right: 150px;
   }
   
   
   /*MENU*/
   .conteudocab{
   align-items: center;
       display: flex;
       gap: 32px;
       left: 200px;
       position: relative;
       color: white;
   }
   
   .menu {
       list-style-type: none;
       text-decoration: none;
       color: white;
       display: flex;
       gap: 32px;
       align-items: center;
       font-family: 'Russo One', sans-serif;
   
   }
   .menu2{
       list-style-type: none;
       text-decoration: none;
       color: white;
       display: flex;
       gap: 3px;
       font-family: 'Russo One', sans-serif;
   }
   
   /*SUB MENU*/
   .navbar ul li{
       display: inline-block;
   }
   
   .navbar ul li a{
       color: white;
       text-decoration: none;
       padding: 5px;
    
   }
   
   .navbar ul li{
       text-align: center;
   }
   
   
   .navbar ul ul{
   display: none;
   left: 70px;
   position: absolute;
   border: 1px solid;
   transition: .5s;
   
   }
   
   .navbar ul ul a:hover{
   background: crimson;
      
   }
   
   
   
   .menu2:hover{
       color: rgb(30, 179, 62);
   
   }
   
   .seta{
       transition: .5s;
   }
   
   .menu2:hover > .seta{
       -webkit-transform:rotate(180deg);
     -moz-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     -o-transform: rotate(180deg);
     transform: rotate(180deg);
     color: rgb(30, 179, 62);
   }
   
   .navbar ul{
   list-style-type: none;
   padding: 0;
   text-decoration: none;
   }
   
   .navbar ul li:hover ul{
       display: block;
   
   }
   
   .navbar ul ul{
       width: 150px;
   }
   
   .navbar ul ul li a{
       display: block;
   }
   
   .imagem-menu{
       width: 20px;
       height: 20px;
       position: relative;
       top: 3px;
       left: -2px;
   }
   
   
   
   /*BARRA DE PESQUISA*/
   
   .barra-pesquisa{
       width: 30px;
       height: 30px;
       background-color: aliceblue;
       overflow: hidden;
       display: flex;
       justify-content: space-between;
       position: relative;
       transition: .5s;
   
   }
   
   .barra-pesquisa .lupa, .barra-pesquisa .fechar{
      min-width: 30px; 
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
   
   }
   
   .barra-pesquisa .lupa i{
       font-size: 20px;
   color: #200b45;
   }
   
   
   
   .barra-pesquisa .fechar i{
       color: #200b45;
       font-size: 20px;
   }
   
   .barra-pesquisa .txt-pesquisa{
       position: absolute;
       left: 36px;
       width: calc(100% - 120px);
       height: 100%;
       line-height: 25px;
       
   }
   
   .barra-pesquisa .txt-pesquisa input{
   border: none;
   outline: none;
   font-size: 10px;
   background: aliceblue;
   
   }
   
   .barra-pesquisa.ativar{
   width: 200px;
   }
   